@{
    ViewBag.Title = "Bui Duc Nguyen";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Lesson 09 Bui Duc Nguyen</h3>

    <address>
        K22CNT3 - Mon lap Trinh ung web voi cong nghe asp.net mvc5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:nguyen29082004@gmail.com">nguyen29082004@gmail.com</a>
    </address>
</main>